@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Pacifico&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');


body{
    background-color:#f8ebcf;
}
.main{
   
}
h1{
    font-family: 'EB Garamond', serif;
    font-family:  'Pacifico', 'cursive';
    font-family: 'Protest Riot', sans-serif;
    color:#4d001f ;
    text-align: center;
    font-size: 48px;
    top: 18px;
    position:relative;
}
p{
    font-family: 'Lora', serif;
    color:#3E2922;
    text-align: center;
    font-size:20px;
}
.main .category-box{
    display: flex;
    justify-content: center;
}
.img1{
    font-family: 'Lora', serif;
    display: inline-block;
    margin: 20px 40px;
    border: 2px solid rgb(51, 49, 49);
    padding: 20px 20px;
    font-size: 18px;
    text-align: center;
    color:#3E2922;
}
.img1:hover:hover{
    box-shadow: 0 0 6px 3px #3E2922;
   
}
.img2{
    font-family: 'Lora', serif;
    display: inline-block;
    margin: 20px 40px;
    border: 2px solid rgb(51, 49, 49);
    padding: 20px 20px;
    font-size: 18px;
    text-align: center;
    color:#3E2922;
}
.img2:hover:hover{
    box-shadow: 0 0 6px 3px #3E2922;
}

.service {
    margin-top: -20px;
    background-color:#f8ebcf;
}

.services-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
}

.services-col {
    width: 300px;
    height: 390px;
    color: rgb(236, 68, 90);
    background: url("back-2.png");
    background-color:#f8ebcf;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex: 0 15rem;
    padding: 1.2rem;
    margin: 0.5rem;
    display: inline-block;
}
.services-col i:hover{
    transition: 1.5s;
    margin-top: -20px;
    box-shadow: 0 0 6px 3px #3E2922;
}


.services-col i {
    padding: 2.2rem;
    border: none;
    background: aliceblue;
    color:#4d001f ;
    border-radius: 5rem;
    font-size: 2.8rem;
}

.services-col h2 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #000;
}

.services-col p {
    font-size: 1.2rem;
    color: #000;
}

@media (max-width:767px) {
    .service {
        margin-bottom: 30rem;
    }
}








.rv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
}
 .rv .rv-d{
    width: 275px;
    height: 350px;
    font-family: 'Lora', serif;
    margin: 10px 10px;
    border: 2px solid rgb(51, 49, 49);
    padding: 20px 20px;
    font-size: 18px;
    text-align: center;
    color:#3E2922;
}
 .rv .rv-d .rv-des{
    font-size: 14px;
    text-align: start;
}
.rv .rv-d .rv-d2{
    margin-bottom: -500px;
}
.rv .rv-d:hover{
    transition: 1.5s;
    margin-top: -20px;
    box-shadow: 0 0 6px 3px #3E2922;
}
 .social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -40px;
}
 .social .social-icon{
   padding: 50px 40px;
}