marquee{
    color:#E57734;
    font-size:30px;
}
.one_lakh{
    font-family: 'Lora', serif;
    margin: 20px 40px;
    border: 2px solid rgb(51, 49, 49);
    padding: 20px 20px;
    font-size: 10px;
    text-align: center;
    color:#3E2922;
}
.one_lakh:hover{
    box-shadow: 0 0 6px 3px #3E2922;
    height:360px;
    border-radius:10px;
}
.discription{
    font-family: 'Lora', serif;
}
