marquee{
    color:#3E2922;
    font-size:20px;
    background-color:#E57734;
    font-family: 'Lora', serif;
}
.heading{
    font-family: 'EB Garamond', serif;
    font-family:  'Pacifico', 'cursive';
    font-family: 'Protest Riot', sans-serif;
}
p{
    font-family: 'Lora', serif;

}
.pck_img{
    font-family: 'Lora', serif;
    margin: 20px 40px;
    border: 2px solid rgb(51, 49, 49);
    padding: 20px 20px;
    font-size: 10px;
    text-align: center;
    color:#3E2922;
    height:300px;
}
.pck_img:hover{
    box-shadow: 0 0 6px 3px #3E2922;

}
.discription{
    font-family: 'Lora', serif;
    font-size:40px;
   
}
.pkg{
    color:#3E2922;
    padding:-100px -20px;
    font-family: 'Lora', serif;
   
}
.desc{
    height:350px;border:none;
    border-radius:5px;
    font-family: 'Lora', serif;
}
.album{
    margin:15px;
    justify-content: space-between;
}
.album:hover{
    box-shadow: 0 0 6px 3px #3E2922;
    border-radius:10px;
}
.decor{
    height:235px;
    margin:9px;
    justify-content: space-around;
}
.decor:hover{
    box-shadow: 0 0 6px 3px #3E2922;
    border-radius:10px;
}
.decoration{
    height:230px;
    margin:20px;
    justify-content: space-around;
    display:inline-block;
    flex-direction:row;

}
.decoration:hover{
    box-shadow: 0 0 6px 3px #3E2922;
    border-radius:10px;
}
.frame{
  text-align: center;
}
a{
    text-decoration:none;
    color:#3E2922;
    font-size:20px;
    background-color: #E57734;
}
.deco{
    height:200px;
    margin:10px;
    justify-content: space-around;
    display:inline-block;
    flex-direction:row;

}
.deco:hover{
    box-shadow: 0 0 6px 3px #3E2922;
    border-radius:10px;
}


.btn{
    
    font-family: 'Lora', serif;
    font-size: 22px;
    height:34px;
    width: 194px;
    border:1.5px solid #ef7743;
    color:white;
    background-color:#3e2922 ;
    box-shadow: 2px 2px 2px 0 #4d001f;
    margin-top: 30px;
    
}
.btn:hover{
    background-color:#ef7743;
    border:2px solid #4d001f;
    transition:1.5s;
    border-radius:10px;
    color:#3e2922;
}
body{
    padding-left:10px;
}
