.footr{
    width: 1478px;
}
.f{
    background-color: #3E2922;
    text-align: center;
    color:#E57734;
    font-weight: bolder;
    font-size: 17px;
    font-family: 'Lora', serif;
    padding: 5px 5px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
.ft{
    margin-top: 10px;
    font-family: 'Lora', serif;
    background-color: #3E2922;
    border-top:1px solid #F8EBCF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4px 4px;
    color:#E57734;
    margin-left: -10px;
    margin-right: -10px;
}
.ft .description{
    font-size:19px;
    color:#F8EBCF;
}
.description-f{
    font-size: 16px;
    color:#E57734;
}
.ft .address{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:#E57734;
}
.ft .address .mp{
    text-decoration: none;
    color:#F8EBCF;
}
.ft .call-us{
    text-align: left;
}
.ft .call-us .cnt{
    text-decoration: none;
    color:#F8EBCF;
}
.ft .mail{
    text-align: left;
}
.ft .mail .ml{
    text-decoration: none;
    color:#F8EBCF;
}

.ft2{
    font-family: 'Lora', serif;
    background-color: #3E2922;
    color: #E57734;
    border-top:1px solid #F8EBCF;
    font-size: 14px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

@media screen and (min-width: 992px) and (max-width: 1300px){
    .footr{
        min-width: 993px;
        max-width: 1300px;
    }
    .ft .description{
        font-size:10px;
    }
    .description-f{
        font-size: 8px;
    }
    .ft .address {
        font-size: 14px;
    }
    .ft .call-us{
        font-size: 14px;
    }
    .ft .mail {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .footr{
        min-width: 768px;
        max-width: 991px;
    }
    .ft .description{
        font-size:10px;
    }
    .description-f{
        font-size: 8px;
    }
    .ft .address {
        font-size: 14px;
    }
    .ft .call-us{
        font-size: 14px;
    }
    .ft .mail {
        font-size: 12px;
    }
}
 
@media screen and (min-width: 601px) and (max-width: 767px){
    .footr{
        min-width: 601px;
        max-width: 767px;
    }
    .ft .description{
        font-size:10px;
    }
    .description-f{
        font-size: 8px;
    }
    .ft .address {
        font-size: 14px;
    }
    .ft .call-us{
        font-size: 14px;
    }
    .ft .mail {
        font-size: 12px;
    }
}

