.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3E2922;
    height: 33px;
    width: 1498px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    margin-left: -10px;
    margin-right: -10px;
    padding: 3px 20px 22px 0px; 
   
}
.logo{
    background-color: #F8EBCF;
    margin: 9px 0px;
    height:40px;
    border-radius: 20px;
    padding-top: 2px;
    margin-left: 15px;
}
.brand-name{
    margin-left: -450px;
    margin-top: 20px;
    color:#E57734;
    font-weight: bold;
    font-family: 'Lora', serif;
}
.navbar ul{
    list-style: none; 
}
nav ul{
    display: flex;
    gap: 25px;   
}
.name{
    color:#E57734;
    font-family: 'Lora', serif;
}
.name:hover{
    color: #ffffff;
    font-weight: bolder;
}
.nav-n{
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-size: 22px;
}

/* media query */
@media screen and (min-width: 992px) and (max-width: 1300px) {
    .navbar{
        min-width: 993px;
        max-width: 1300px;
    }
    .brand-name{
        font-size: 15px;
        margin-left: -520px;
    }
    nav ul{
        display: flex;
        gap: 15px;   
    }
    .nav-n{
        padding-top: 6px;
        font-size: 15px;
    }
 }
 @media screen and (min-width: 768px) and (max-width: 991px){
    .navbar{
        min-width: 768px;
        max-width: 991px;
    }
    .brand-name{
        padding-top: 6px;
        font-size: 13px;
        margin-left: -300px;
    }
    nav ul{
        display: flex;
        gap: 8px;   
    }
    .nav-n{
        padding-top: 10px;
        font-size: 13px;
    }  
 }
 
@media screen and (min-width: 601px) and (max-width: 767px){
    .navbar{
        min-width: 601px;
        max-width: 767px;
    }
    .brand-name{
        padding-top: 6px;
        margin-left: -160px;
        font-size: 12px;
    }
    nav ul{
        display: flex;
        gap: 8px;   
    }
    .nav-n{
        padding-top: 10px;
        font-size: 11px;
    } 
}

