@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Pacifico&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    background-color: #f8f9f9;
}

.sign_heading{
    font-family: 'Protest Riot', sans-serif;
    color: #b30077;
    margin: 60px 0px 0px 700px;
    font-size: 45px;
}


.sub-log{
    height: 500px;
    width: 400px;
    background-color: #d0d0e1;
    border-radius: 50px 0px 50px 0px;
    margin: 50px 0px 80px 580px;
    box-shadow: 2px 2px 7px 1px #4d001f;
}

.login-img{
    height: 130px;
    margin: 18px 0px 0px 140px;
}

.log-email{
    font-size: 18px;
    border-radius: 5px;
    border: 1.5px solid #46466d;
    height: 40px;
    width: 250px;
    margin: 20px 0px 10px 70px;
    background-color: #f8f9f9;
    font-family: 'Playfair Display', serif;
    box-shadow: 2px 2px 6px 0 #4d001f;
}


.log-pass{
    font-size: 18px;
    border-radius: 5px;
    border: 1.5px solid #46466d;
    height: 40px;
    width: 250px;
    margin: 10px 0px 0px 70px;
    background-color: #f8f9f9;
    font-family: 'Playfair Display', serif;
    box-shadow: 2px 2px 6px 0 #4d001f;
}

.forgot{
    font-size: 19px;
    color: #181717;
    font-family: 'Playfair Display', serif;
}

.forgot a{
    margin: 9px 0px 0px -110px;
    text-decoration: none;
    color: #b30077;
}
.btn{
    border:none;
    color:white;
    background-color: #b30077;
    box-shadow: 2px 2px 2px 0 #4d001f;
    font-size: 25px;
    height: 40px;
    width: 100px;
    margin: 20px 0px 10px 150px;
}
.btn:hover{
    background-color:#ff4d94;
    transition: 0.8s;
    border-radius:10px;
}
.create-acc{
    font-size: 19px;
    color: #181717;
    margin: 15px 0px 0px 30px;
    font-family: 'Playfair Display', serif;
}
.create-acc a{
    text-decoration: none;
    color: #b30077;
}