
.sub-log{
    height: 500px;
    width: 400px;
    background-color: #c5a3d7;
    border-radius: 50px 0px 50px 0px;
    margin: 150px 0px 0px 750px;
    box-shadow: 2px 2px 7px 1px #4d001f;
}

.login-img{
    height: 130px;
    margin: 18px 0px 0px 140px;
}

.log-email{
    font-size: 22px;
    border-radius: 5px;
    border: 1.5px solid #b30077;
    height: 40px;
    margin: 20px 0px 10px 70px;
    background-color: #F8E8EE;
    font-family: 'Playfair Display', serif;
    box-shadow: 2px 2px 6px 0 #4d001f;
}

.log-pass{
    font-size: 22px;
    border-radius: 5px;
    border: 1.5px solid #b30077;
    height: 40px;
    margin: 10px 0px 0px 70px;
    background-color: #F8E8EE;
    font-family: 'Playfair Display', serif;
    box-shadow: 2px 2px 6px 0 #4d001f;
}

.forgot{
    font-size: 19px;
    color: #181717;
    margin: 9px 0px 0px 70px;
    font-family: 'Playfair Display', serif;
}

.forgot a{
    text-decoration: none;
}

.btn{
    height:21px;
    border:none;
    color:white;
    background-color: #b30077;
    box-shadow: 2px 2px 2px 0 #4d001f;
    font-size: 25px;
    height: 40px;
    width: 100px;
    margin: 23px 0px 10px 150px;
}
.btn:hover{
    background-color:#ff4d94;
    transition: 1.5s;
    border-radius:10px;
}

.create-acc{
    font-size: 19px;
    color: #181717;
    margin: 15px 0px 0px 30px;
    font-family: 'Playfair Display', serif;
}

.create-acc a{
    text-decoration: none;
}