/* background color : #e4bdda;
 heading-text-color:#4d001f;
 Content-color:#b30047;
 div-color:#c5a3d7;
*/
/*
    font style for heading tag: ex- about us,etc.
    @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Pacifico&family=Protest+Riot&display=swap');
    font-family: 'EB Garamond', serif;
    font-family:  'Pacifico', 'cursive';
    font-family: 'Protest Riot', sans-serif;
*/
/*
   font style for content: ex-description
  @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
 font-family: 'Lora', serif;
*/


/* 
html: <button class="btn">Submit</button>
css: .btn{
        height:21px;
        border:none;
        color:white;
        background-color: #b30077;
        box-shadow: 2px 2px 2px 0 #4d001f;
    }
    .btn:hover{
        background-color:#ff4d94;
        transition:1s;
        border-radius:10px;
    }
*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Pacifico&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
body{
    background-color: #e4bdda;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #c5a3d7;
    height: 30px;
    margin: 10px 22px ;
    padding: 0px 20px 22px 16px; 
}
.logo{
    border-radius: 60%;
}
.brand-name{
    margin-left: -300px;
    margin-top: 20px;
    color: #4d001f;
    font-weight: bold;
    font-family: 'Lora', serif;
  
}
.navbar ul{
    list-style: none; 
}
nav ul{
    display: flex;
    gap: 25px;   
}
.name{
    color: #4d001f;
    font-family: 'Lora', serif;
}
.name:hover{
    color: #4d001f;
    font-weight: bold;
}
.nav-n{
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-size: 22px;
}

h1{
    font-family: 'EB Garamond', serif;
    font-family:  'Pacifico', 'cursive';
    font-family: 'Protest Riot', sans-serif;
    color:#4d001f ;
    text-align: center;
    font-size: 50px;
}
p{
    font-family: 'Lora', serif;
    color: #b30047;
    text-align: center;
    font-size:19px;
}
.main .slowgan{
    color: #4d001f;
    font-weight: 600;
}
.main .category-box{
    display: flex;
    justify-content: center;
}
.img{
    font-family: 'Lora', serif;
    display: inline-block;
    margin: 30px 40px;
    border: none ;
    padding: 20px 20px;
    font-size: 17px;
    text-align: center;
    box-shadow: 0 0 10px 3px #c5a3d7;
    color: #4d001f;
}
.img:hover{
    box-shadow: 0 0 6px 3px #4d001f;
   
}
.img1{
    font-family: 'Lora', serif;
    display:inline-block;
    margin: 20px 40px;
    border:none;
    padding: 20px 20px;
    font-size: 17px;
    text-align: center;
    box-shadow: 0 0 10px 3px #c5a3d7;
    color: #4d001f;
}
.img1:hover{
    box-shadow: 0 0 6px 3px #4d001f;
}
.ft{
    margin-top: 10px;
    font-family: 'Lora', serif;
    background-color: #c5a3d7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3px 3px;
    color: #b30047;
}
.ft .description{
    font-size:19px;
}
.description-f{
    font-size: 16px;
}
.ft2{
    font-family: 'Lora', serif;
    background-color: #c5a3d7;
    color: #b30047;
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
}
.address{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ft .call-us{
    text-align: left;
}

.ft .mail{
    text-align: left;
}
